# Build output
dist/
**/dist/
.angular/
tmp/
out-tsc/
bazel-out/

# Node modules
node_modules/
**/node_modules/

# Environment files
.env
*.env

# Logs
*.log
npm-debug.log
yarn-error.log

# SSH Keys
*.pem

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Coverage
coverage/
.history/
.sass-cache/