<!-- HOME PAGE -->

<!-- CAROUSEL -->
<div id="carCarousel" class="carousel slide mb-5" data-bs-ride="carousel">

  <div class="carousel-inner">

    <div class="carousel-item active">
      <img src="/assets/car1.png" class="d-block w-100 carousel-img" alt="Luxury Cars">
      <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 rounded p-3">
        <h1 class="fw-bold">Nexon Cars</h1>
        <p>Experience premium driving Comfort & Convenience Cars</p>
        <button class="btn btn-warning mt-2" (click)="goToRegister()">Book Now</button>
      </div>
    </div>

    <div class="carousel-item">
      <img src="/assets/carr2.jpeg" class="d-block w-99 carousel-img" alt="Family SUVs">
      <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 rounded p-3">
        <h3 class="fw-bold">BMW X5</h3>
        <p>Perfect for  both everyday driving and long-distance journeys</p>
        <button class="btn btn-warning mt-2" (click)="goToRegister()">Book Now</button>
      </div>
    </div>

    <div class="carousel-item">
      <img src="/assets/car4.png" class="d-block w-100 carousel-img" alt="Sports Cars">
      <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 rounded p-3">
        <h1 class="fw-bold">Sports Cars</h1>
        <p>Feel the power & speed</p>
        <button class="btn btn-warning mt-2" (click)="goToRegister()">Book Now</button>
      </div>
    </div>

  </div>

  <!-- Controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

</div>

<!-- FEATURE CARDS SECTION -->
<div class="container py-5">
  <div class="row g-4 text-center">

    <div class="col-md-4">
      <div class="card h-100 shadow feature-card">
        <img src="/assets/car1.png" class="card-img-top img-card" alt="Luxury Cars">
        <div class="card-body">
          <h3 class="card-title">Nexon Cars</h3>
          <p class="card-text">Experience premium driving in style.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card h-100 shadow feature-card">
        <img src="/assets/car2.webp" class="card-img-top img-card" alt="Family SUVs">
        <div class="card-body">
          <h5 class="card-title">Mercedes-Benz G Class</h5>
          <p class="card-text">Perfect for long trips with family and friends.Heavy and well-equipped with safety road drive modes</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card h-100 shadow feature-card">
        <img src="/assets/car4.png" class="card-img-top img-card" alt="Sports Cars">
        <div class="card-body">
          <h5 class="card-title">Toyota RAV4 Cars</h5>
          <p class="card-text">Feel the power & speed on the road. conveniently placed storage space everyday items.</p>
        </div>
      </div>
    </div>

  </div>
</div>

